Repository jquery/jquery, pull requests merged in 2019-10, with the labels that each got.

#4492 Build: Stop copying src/core.js to dist on release
  build/release.js
Labels: Build

#4498 Build: Support jquery-release --dry-run flag
  build/release/dist.js
Labels: Build, Needs review

#4504 Manipulation:Selector: Use the nodeName util where possible to save size
  src/manipulation.js
  src/selector.js
Labels: Manipulation, Selector

#4499 Build: Require strict mode in Node.js scripts via ESLint
  .eslintrc-node.json
  Gruntfile.js
  build/release.js
  build/release/cdn.js
  build/release/dist.js
  build/tasks/build.js
  build/tasks/dist.js
  build/tasks/node_smoke_tests.js
  build/tasks/qunit_fixture.js
  build/tasks/sourcemap.js
  build/tasks/testswarm.js
Labels: Build

#4509 Selector: Make selectors with leading combinators use qSA again
  src/selector.js
Labels: Bug, Needs review, Selector

#4506 CSS: Workaround buggy getComputedStyle on table rows in IE/Edge
  src/css.js
  src/css/support.js
  test/unit/css.js
  test/unit/support.js
Labels: CSS

#4508 Offset: Send px-ed strings to .css()
  src/offset.js
Labels: Needs review, Offset

#4517 Tests: Stop using jQuery.find in tests
  test/data/selector/mixed_sort.html
  test/unit/selector.js
Labels: Needs review, Selector

#4516 Selector: Add a test for throwing on post-comma invalid selectors
  test/unit/selector.js
Labels: Needs review, Tests

#4511 Docs: Update most URLs to HTTPS
  src/selector.js
  test/data/manipulation/iframe-denied.html
  test/data/qunit-fixture.html
  test/data/qunit-fixture.js
  test/data/testsuite.css
  test/unit/ajax.js
  test/unit/css.js
  test/unit/manipulation.js
  test/unit/selector.js
Labels: Docs, Needs review

#4512 Selector: Use shallow document comparisons in uniqueSort
  src/selector/uniqueSort.js
Labels: Needs review, Selector

#4524 Build: Run tests on Travis on FirefoxHeadless as well
  .travis.yml
  Gruntfile.js
Labels: Build, Needs review

#4528 Build: Run tests on Node.js 13 in addition to 8, 10 & 12
  .travis.yml
Labels: Build

#4530 Build: Run tests on Firefox ESR as well
  .travis.yml
Labels: Build

#4532 Build: Run tests on Travis only on browsers defined in the config
  Gruntfile.js
Labels: Build

#4536 Tests: Don't test synchronous XHR on unload in Chrome
  test/unit/ajax.js
Labels: Needs review, Tests

#4537 Tests: Skip a "width/height on a table row with phantom borders" test in Firefox
  test/unit/dimensions.js
Labels: Needs review, Tests
