Repository jquery/jquery, pull requests merged in 2019-04, with the labels that each got.

#4341 Build: Update Sinon from 2.3.7 to 7.3.1, other updates
  external/sinon/sinon.js
  package.json
  test/unit/animation.js
  test/unit/core.js
  test/unit/effects.js
  test/unit/tween.js
Labels: Build, Needs review

#4342 Tests: Fix the core-js polyfill inclusion method
  package.json
  test/data/core/jquery-iterability-transpiled.html
Labels: Tests

#4055 CSS: Don't automatically add "px" to properties with a few exceptions
  src/css.js
  src/css/adjustCSS.js
  src/css/isAutoPx.js
  src/effects/Tween.js
  test/unit/css.js
Labels: Behavior Change, CSS

#4361 Build: Fix unresolved jQuery reference in finalPropName
  src/.eslintrc.json
  src/css/finalPropName.js
Labels: Build

#4369 Build: Test on Node.js 12, stop testing on Node.js 6 & 11
  .travis.yml
Labels: Build

#4354 Event: Fix handling of multiple async focus events
  src/event.js
  test/unit/event.js
Labels: Event

#4353 Event: Prevent leverageNative from registering duplicate dummy handlers
  src/event.js
Labels: Event

#4360 Core: Make isAttached work with iOS 10.0-10.2
  src/core/isAttached.js
  test/unit/css.js
  test/unit/effects.js
Labels: Core

#4365 Data: Separate data & css/effects camelCase implementations
  src/core/camelCase.js
  src/css.js
  src/css/cssCamelCase.js
  src/deprecated.js
  src/effects.js
  test/unit/css.js
  test/unit/data.js
Labels: Behavior Change, Data

#4362 Event: Stop shimming focusin & focusout events
  README.md
  src/event/focusin.js
  src/event/support.js
  src/jquery.js
  test/unit/event.js
  test/unit/support.js
Labels: Behavior Change, Event

#4364 Core: Remove deprecated jQuery APIs
  src/css.js
  src/css/finalPropName.js
  src/deprecated.js
  test/unit/css.js
  test/unit/data.js
  test/unit/deprecated.js
Labels: Behavior Change, Core

#4380 Build: Fix AMD dependencies in curCSS
  src/css/curCSS.js
  src/css/var/rboxStyle.js
Labels: Build
