Repository jquery/jquery, pull requests merged in 2019-08, with the labels that each got.

#4452 Selector: Bring back querySelectorAll shortcut usage
  src/selector.js
Labels: Bug, Needs review, Selector

#4446 Tests: update npo.js and include unminified source instead
  Gruntfile.js
  external/npo/npo.js
Labels: Tests

#4458 Tests: Fix a comment in testinit.js
  test/data/testinit.js
Labels: Tests

#4454 Selector: Leverage the :scope pseudo-class where possible
  src/selector.js
  src/selector/support.js
  test/unit/selector.js
  test/unit/support.js
Labels: Selector

#4464 Tests: Port changes from Sizzle
  test/unit/selector.js
Labels: Tests

#4461 Core: Deprecate jQuery.trim
  src/core.js
  src/deprecated.js
  test/unit/basic.js
  test/unit/core.js
  test/unit/deprecated.js
Labels: Core, Needs review

#4466 Build: Remove the external directory, read from node_modules directly
  .npmignore
  Gruntfile.js
  external/npo/npo.js
  external/qunit/LICENSE.txt
  external/qunit/qunit.css
  external/qunit/qunit.js
  external/requirejs/require.js
  external/sinon/LICENSE.txt
  external/sinon/sinon.js
  package.json
  test/index.html
  test/karma.debug.html
Labels: Build, Needs review

#4467 Ajax: Simplify jQuery.ajaxSettings.xhr
  src/ajax/xhr.js
Labels: Ajax, Needs review

#4462 Selector: reduce size, simplify setDocument
  src/selector.js
  src/selector/rbuggyQSA.js
  test/unit/selector.js
Labels: Needs review, Selector
