Repository jquery/jquery, pull requests merged in 2019-03, with the labels that each got.

#4305 Build: Update jsdom; migrate a test with Symbol polyfill to an iframe test
  .eslintignore
  .eslintrc-node.json
  .gitignore
  Gruntfile.js
  build/tasks/node_smoke_tests.js
  package.json
  test/.eslintrc.json
  test/data/core/jquery-iterability-transpiled-es6.js
  test/data/core/jquery-iterability-transpiled.html
  test/node_smoke_tests/document_missing.js
  test/node_smoke_tests/document_passed.js
  test/node_smoke_tests/document_present_originally.js
  test/node_smoke_tests/iterable_with_symbol_polyfill.js
  test/node_smoke_tests/lib/ensure_global_not_created.js
  test/node_smoke_tests/lib/ensure_iterability_es6.js
  test/node_smoke_tests/lib/ensure_jquery.js
  test/promises_aplus_adapters/deferred.js
  test/promises_aplus_adapters/when.js
  test/unit/core.js
Labels: Build

#4307 Build: Update QUnit from 1.23.1 to 2.9.2
  Gruntfile.js
  external/qunit-assert-step/MIT-LICENSE.txt
  external/qunit-assert-step/qunit-assert-step.js
  external/qunit/LICENSE.txt
  external/qunit/qunit.css
  external/qunit/qunit.js
  package.json
  test/data/inner_nomodule.js
  test/data/nomodule.js
  test/index.html
  test/unit/css.js
  test/unit/deprecated.js
  test/unit/effects.js
  test/unit/manipulation.js
  test/unit/offset.js
Labels: Build

#4313 Build: Make Promises/A+ tests use the dot reporter instead of the default
  build/tasks/promises_aplus_tests.js
Labels: Build

#4312 Build: Remove manual QUnit fixture resetting
  build/tasks/qunit_fixture.js
  test/data/qunit-fixture.js
Labels: Build

#4310 Build: Run the basic test suite in jsdom
  Gruntfile.js
  package.json
  test/.eslintrc.json
  test/data/testinit-jsdom.js
  test/unit/basic.js
Labels: Build, Needs review

#4325 CSS: Avoid forcing a reflow in width/height getters unless necessary
  src/css.js
  test/unit/dimensions.js
Labels: CSS, Needs review

#4333 Core: Prevent Object.prototype pollution for $.extend( true, ... )
  src/core.js
  test/unit/core.js
Labels: Blocker, Core

#4329 Event: Cleanup leverageNative
  src/event.js
  test/unit/event.js
Labels: Blocker, Event

#4328 Core: Preserve CSP nonce on scripts with src attribute (#4323)
  src/manipulation.js
  src/manipulation/_evalUrl.js
  test/data/csp-nonce-external.html
  test/data/csp-nonce-external.js
  test/unit/manipulation.js
Labels: Manipulation

#4334 Tests: Make Android Browser 4.0-4.3 AJAX tests green
  test/unit/ajax.js
Labels: Tests

#4335 Tests: Make Android Browser 4.0-4.3 dimensions tests green
  test/unit/dimensions.js
Labels: Tests
