Repository jquery/jquery, pull requests merged in 2019-05, with the labels that each got.

#4375 Effect: Fix a unnecessary conditional statement in .stop()
  src/effects.js
Labels: Effects

#4385 Fix retrieving children of `<object>` using `contents()`
  src/traversing.js
  test/unit/traversing.js
Labels: Traversing

#4390 Traversing: Fix `contents()` on `<object>`s with children in IE
  src/traversing.js
Labels: Bug, Traversing

#4387 Core: Remove IE-specific support tests, rely on document.documentMode
  src/ajax.js
  src/attributes/attr.js
  src/attributes/prop.js
  src/attributes/support.js
  src/css.js
  src/css/support.js
  src/manipulation.js
  src/manipulation/support.js
  src/var/isIE.js
  test/data/inner_nomodule.js
  test/data/nomodule.js
  test/data/testinit-jsdom.js
  test/data/testinit.js
  test/middleware-mockserver.js
  test/unit/ajax.js
  test/unit/attributes.js
  test/unit/core.js
  test/unit/css.js
  test/unit/data.js
  test/unit/deferred.js
  test/unit/deprecated.js
  test/unit/dimensions.js
  test/unit/effects.js
  test/unit/manipulation.js
  test/unit/queue.js
  test/unit/support.js
  test/unit/traversing.js
Labels: Core

#4389 Build: Fix the regex parsing AMD var-modules
  build/tasks/build.js
Labels: Build

#4381 Build: ESLint: forbid unused function parameters
  build/tasks/build.js
  dist/.eslintrc.json
  package.json
  src/ajax.js
  src/attributes/attr.js
  src/core.js
  src/core/access.js
  src/core/camelCase.js
  src/css.js
  src/css/var/swap.js
  src/deferred.js
  src/deprecated.js
  src/effects.js
  src/event/ajax.js
  src/event/alias.js
  src/manipulation.js
  src/offset.js
  src/serialize.js
  src/traversing.js
Labels: Build
