Repository jquery/jquery, pull requests merged in 2020-08, with the labels that each got.

#4769 Tests: Remove an unused local variable
  test/middleware-mockserver.js
Labels: Tests

#4763 Ajax: Avoid CSP errors in the script transport for async requests
  src/ajax/script.js
  test/data/csp-ajax-script-downloaded.js
  test/data/csp-ajax-script.html
  test/data/csp-ajax-script.js
  test/data/mock.php
  test/middleware-mockserver.js
  test/unit/ajax.js
Labels: Ajax, Behavior Change

#4773 Ajax: Execute JSONP error script responses
  src/ajax.js
  test/unit/ajax.js
Labels: Ajax

#4765 Event: Remove the event.which shim
  src/event.js
Labels: Event

#4778 Ajax: Make responseJSON work for erroneous same-domain JSONP requests
  src/ajax/script.js
Labels: 4.x-only, Ajax, Bug
