Repository jquery/jquery, pull requests merged in 2020-09, with the labels that each got.

#4766 Attributes: Drop the `toggleClass(boolean|undefined)` signature
  src/attributes/classes.js
  test/unit/attributes.js
Labels: Attributes, Behavior Change

#4777 Build: Make the import/no-unused-modules ESLint rule work in WebStorm
  src/.eslintrc.json
Labels: Build

#4779 Tests: Skip the "jQuery.ajax() on unload" test in Safari
  test/unit/ajax.js
Labels: Tests

#4764 Tests: Recognize callbacks with dots in the Node.js mock server
  test/middleware-mockserver.js
Labels: Tests

#4563 Manipulation: Respect script crossorigin attribute in DOM manipulation
  src/manipulation.js
  src/manipulation/_evalUrl.js
  test/data/mock.php
  test/middleware-mockserver.js
  test/unit/manipulation.js
Labels: Behavior Change, Manipulation

#4792 Core: Drop support for Edge Legacy (i.e. non-Chromium Microsoft Edge)
  src/ajax.js
  src/attributes/prop.js
  src/core.js
  src/core/DOMEval.js
  src/core/isAttached.js
  src/css.js
  src/css/cssCamelCase.js
  src/css/support.js
  src/effects.js
  src/manipulation.js
  src/selector.js
  src/selector/rbuggyQSA.js
  src/selector/support.js
  src/selector/uniqueSort.js
  src/var/flat.js
  test/jquery.js
  test/unit/ajax.js
  test/unit/core.js
  test/unit/css.js
  test/unit/data.js
  test/unit/effects.js
  test/unit/manipulation.js
  test/unit/selector.js
  test/unit/support.js
Labels: Behavior Change, Core

#4793 Build: Explicitly exclude the queue module from the slim build
  build/tasks/build.js
Labels: Build
