Repository jquery/jquery, pull requests merged in 2020-05, with the labels that each got.

#4672 Build: Correct code indentations based on jQuery Style Guide
  src/.eslintrc.json
  src/ajax.js
  src/ajax/xhr.js
  src/attributes/classes.js
  src/core.js
  src/core/access.js
  src/core/nodeName.js
  src/css.js
  src/deprecated/event.js
  src/dimensions.js
  src/effects.js
  src/effects/Tween.js
  src/event.js
  src/event/trigger.js
  src/selector.js
  src/serialize.js
Labels: Build

#4704 CSS: Include `show`, `hide` & `toggle` methods in the jQuery slim build
  src/jquery.js
  test/unit/css.js
Labels: 4.x-only, CSS

#4705 Build: Followups after introducing ES modules compiled via Rollup
  .eslintrc.json
  Gruntfile.js
  build/tasks/amd.js
  build/tasks/build.js
  src/.eslintrc.json
  src/ajax.js
Labels: Build

#4711 Docs: Change JS Foundation mentions to OpenJS Foundation
  CODE_OF_CONDUCT.md
  Gruntfile.js
  LICENSE.txt
  package.json
  src/wrapper.js
Labels: Docs

#4715 Tests: Remove remaining obsolete jQuery.cache references
  test/data/testrunner.js
  test/unit/wrap.js
Labels: Tests

#4696 Build: Update eslint-config-jquery, fix linting violations
  build/release/dist.js
  package.json
  src/core/nodeName.js
  src/css/isAutoPx.js
  src/css/var/getStyles.js
  src/css/var/isHiddenWithinTree.js
  src/css/var/swap.js
  src/data/var/acceptData.js
  src/traversing/var/dir.js
  src/traversing/var/siblings.js
  src/var/isWindow.js
Labels: Build

#4712 Release: Remove an unused chalk dependency
  build/release.js
Labels: Release

#4695 Deprecated: Remove jQuery.trim
  src/deprecated.js
  src/var/trim.js
  test/unit/deprecated.js
Labels: Behavior Change, Core
