Repository jquery/jquery, pull requests merged in 2021-02, with the labels that each got.

#4838 Build: Rename master to main across the repository
  CONTRIBUTING.md
  README.md
  build/release/dist.js
  package.json
  test/unit/offset.js
Labels: Build, Needs review

#4845 Support: ensure display is set to block for the support div
  src/css/support.js
Labels: Support

#4846 Selector: Update Sizzle from 2.3.5 to 2.3.6
  external/sizzle/dist/sizzle.js
  external/sizzle/dist/sizzle.min.js
  external/sizzle/dist/sizzle.min.map
  package.json
Labels: Selector
