Repository jquery/jquery, pull requests merged in 2021-01, with the labels that each got.

#4808 Dimensions: Add offset prop fallback to FF for unreliable TR dimensions
  src/css.js
  src/css/support.js
  test/unit/dimensions.js
  test/unit/support.js
Labels: Dimensions

#4807 Dimensions: Modify reliableTrDimensions support test to account for FF
  src/css/support.js
  test/unit/dimensions.js
  test/unit/support.js
Labels: Dimensions

#4824 Tests: Fix tests for not auto-executing scripts without dataType
  test/middleware-mockserver.js
  test/unit/ajax.js
Labels: Needs review, Tests

#4828 Deferred: Rename master to primary
  src/deferred.js
Labels: Deferred, Needs review

#4825 Ajax: Don't auto-execute scripts unless dataType provided
  src/ajax/script.js
  test/unit/ajax.js
Labels: Ajax, Behavior Change
