Repository jquery/jquery, pull requests merged in 2022-12, with the labels that each got.

#5167 Core:Selector: Move jQuery.contains from the selector to the core module
  src/core.js
  src/core/isAttached.js
  src/selector-native.js
  src/selector.js
  src/selector/contains.js
  test/unit/core.js
  test/unit/selector.js
Labels: Selector, Core

#5178 Selector: Make selector lists work with `qSA` again
  src/selector.js
  src/selector/rbuggyQSA.js
  src/selector/support.js
  test/unit/selector.js
Labels: Selector, Needs review

#5182 Build: remove stale Insight package from custom builds
  build/tasks/build.js
  package.json
Labels: Build
