Repository jquery/jquery, pull requests merged in 2023-06, with the labels that each got.

#5263 Selector: Re-expose jQuery.find.{tokenize,select,compile,setDocument}
  src/selector-native.js
  src/selector.js
  test/unit/selector.js
Labels: Selector

#5260 Selector: Re-expose jQuery.find.tokenize (3.x version)
  src/selector.js
  test/unit/selector.js
Labels: Selector

#5265 Core: Fix regression in jQuery.text() on HTMLDocument objects
  src/core.js
  test/unit/manipulation.js
Labels: Core

#5269 Build: Reference GitHub Actions by commit SHAs
  .github/workflows/codeql-analysis.yml
  .github/workflows/node.js.yml
Labels: Build

#5277 Tests: Disable the ":lang respects escaped backslashes" test
  test/unit/selector.js
Labels: Needs review, Tests

#5276 Build: Drop individual AMD modules
  .eslintignore
  .github/workflows/node.js.yml
  .gitignore
  Gruntfile.js
  build/release.js
  build/release/dist.js
  build/tasks/amd.js
  package.json
  test/data/testinit.js
  test/index.html
  test/jquery.js
  test/karma.context.html
  test/karma.debug.html
Labels: Build

#5165 Docs: Fix typos found by codespell
  src/manipulation/domManip.js
  test/unit/ajax.js
  test/unit/css.js
  test/unit/traversing.js
Labels: Docs
