Repository jquery/jquery, pull requests merged in 2023-11, with the labels that each got.

#5348 Build: Update ESLint-related packages, fix linting errors (3.x version)
  build/tasks/build.js
  build/tasks/compare_size.mjs
  build/tasks/lib/getTimestamp.js
  build/tasks/minify.js
  build/tasks/node_smoke_tests.js
  build/tasks/npmcopy.js
  build/tasks/promises_aplus_tests.js
  package-lock.json
  package.json
Labels: Needs review, Build

#5347 Build: Update ESLint-related packages, fix linting errors
  build/tasks/build.js
  build/tasks/compare_size.mjs
  build/tasks/lib/getTimestamp.js
  build/tasks/minify.js
  build/tasks/npmcopy.js
  build/tasks/promises_aplus_tests.js
  package-lock.json
  package.json
Labels: Needs review, Build

#5317 CSS: Fix support test results for initially hidden iframes
  src/css/support.js
  test/data/css/cssComputeStyleTests.html
  test/data/testinit.js
  test/unit/css.js
Labels: CSS, Needs review, 3.x-only

#5358 CSS: Fix reliableTrDimensions support test for initially hidden iframes
  src/css/support.js
  test/data/css/cssComputeStyleTests.html
  test/data/testinit.js
  test/unit/css.js
Labels: CSS

#5359 CSS: Fix reliableTrDimensions test for initially hidden iframes (3.x)
  src/css.js
  src/css/support.js
  test/data/css/cssComputeStyleTests.html
  test/unit/css.js
Labels: CSS

#5361 Tests: Workaround a tr width test issue in old iOS
  test/unit/css.js
Labels: Needs review, Tests

#5353 Build: Don't run CI push workflows for dependabot branches
  .github/workflows/codeql-analysis.yml
  .github/workflows/node.js.yml
Labels: Needs review, Build

#5363 Build: Bump @babel/traverse & multiple actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/node.js.yml
  package-lock.json
Labels: Build

#5364 Build: Reformat GitHub workflow Yaml files
  .github/workflows/codeql-analysis.yml
  .github/workflows/node.js.yml
Labels: Needs review, Build
