Repository jquery/jquery, pull requests merged in 2023-03, with the labels that each got.

#5219 Release: add support for md5 sums in windows
  build/release/cdn.js
Labels: Release

#5220 Release: add support for md5 sums in windows
  build/release/cdn.js
Labels: Release

#5211 Deferred: Rename `getStackHook` to `getErrorHook`
  src/deferred.js
  src/deferred/exceptionHook.js
  test/unit/deferred.js
Labels: Deferred

#5212 Deferred: Rename `getStackHook` to `getErrorHook` (3.x version)
  src/deferred.js
  src/deferred/exceptionHook.js
  test/unit/deferred.js
  test/unit/deprecated.js
Labels: Deferred

#5195 Tests: Test AJAX deprecated event aliases properly
  test/unit/deprecated.js
Labels: Tests

#5205 Ajax: Allow `processData: true` even for binary data
  src/ajax/binary.js
  test/unit/ajax.js
Labels: Ajax, Blocker

#5203 Ajax: Don't treat array data as binary
  src/ajax/binary.js
  test/unit/ajax.js
Labels: Ajax, Needs review, Blocker

#5223 Event: Simulate focus/blur in IE via focusin/focusout
  src/event.js
  test/unit/event.js
Labels: Event

#5228 Event: Make trigger(focus/blur/click) work with native handlers
  src/event.js
  test/unit/event.js
Labels: Event

#5229 Selector: Wrap activeElement access in try-catch
  src/selector.js
Labels: Selector, Needs review, Discuss in Meeting

#5233 CSS: Add missing jQuery.cssNumber entries
  src/css.js
  test/unit/css.js
Labels: CSS
