Repository jquery/jquery, pull requests merged in 2023-09, with the labels that each got.

#5293 Core: Move the factory to separate exports
  README.md
  build/command.js
  build/fixtures/README.md
  build/tasks/build.js
  build/tasks/dist.js
  build/tasks/node_smoke_tests.js
  eslint.config.js
  package.json
  src/wrapper-esm.js
  src/wrapper-factory-esm.js
  src/wrapper-factory.js
  src/wrapper.js
  test/node_smoke_tests/commonjs/document_passed.cjs
  test/node_smoke_tests/commonjs/factory/document_missing.cjs
  test/node_smoke_tests/commonjs/factory/document_passed.cjs
  test/node_smoke_tests/commonjs/factory/iterable_with_native_symbol.cjs
  test/node_smoke_tests/commonjs/lib/ensure_iterability_es6.cjs
  test/node_smoke_tests/commonjs/regular/window_present_originally.cjs
  test/node_smoke_tests/module/document_missing.js
  test/node_smoke_tests/module/document_passed.js
  test/node_smoke_tests/module/factory/document_missing.js
  test/node_smoke_tests/module/factory/document_passed.js
  test/node_smoke_tests/module/factory/iterable_with_native_symbol.js
  test/node_smoke_tests/module/lib/ensure_iterability_es6.js
  test/node_smoke_tests/module/regular/window_present_originally.js
  test/promises_aplus_adapters/deferred.cjs
  test/promises_aplus_adapters/when.cjs
Labels: Needs review, Build, Blocker

#5296 Core: Simplify code post browser support reduction
  README.md
  src/css/curCSS.js
  src/effects.js
  src/manipulation.js
  test/data/testinit.js
  test/delegatetest.html
  test/localfile.html
  test/unit/core.js
  test/unit/css.js
  test/unit/dimensions.js
  test/unit/wrap.js
Labels: Core, Needs review

#5328 Core: Add more info about named exports
  build/fixtures/README.md
Labels: Needs review, Docs

#5295 CSS:Selector: Align with 3.x, remove the outer `selector.js` wrapper
  src/css/curCSS.js
  src/selector.js
  src/selector/rbuggyQSA.js
  src/selector/selectorError.js
  src/selector/tokenize.js
  src/var/rtrimCSS.js
  test/unit/core.js
  test/unit/selector.js
Labels: CSS, Selector

#5333 Build: sort branches in compare_size; last run last
  build/tasks/compare_size.mjs
Labels: Build

#5334 Build: sort branches in compare_size; last run last
  build/tasks/compare_size.mjs
Labels: Build

#5336 Docs: Fix module links in the package README
  build/fixtures/README.md
Labels: Needs review, Docs
