Repository jquery/jquery, pull requests merged in 2024-02, with the labels that each got.

#5409 Release: use buildDefaultFiles directly and pass version
  build/release.js
  build/release/dist.js
  build/tasks/build.js
  build/tasks/compare_size.mjs
Labels: Release

#5397 Tests: Fix Karma tests on Node.js 20
  test/middleware-mockserver.cjs
Labels: Tests

#5412 Release: add factory files to release distribution
  build/release.js
Labels: Release

#5413 Tests: Align `middleware-mockerver.js` with the `main` branch
  test/middleware-mockserver.js
Labels: Needs review, Tests

#5418 Migrate testing infrastructure to minimal dependencies
  .github/workflows/browserstack-dispatch.yml
  .github/workflows/browserstack.yml
  .github/workflows/node.js.yml
  .gitignore
  CONTRIBUTING.md
  Gruntfile.cjs
  build/grunt-tasks/testswarm.js
  build/tasks/lib/verifyNodeVersion.js
  build/tasks/minify.js
  eslint.config.js
  package-lock.json
  package.json
  test/data/core/dynamic_ready.html
  test/data/jquery-1.9.1.js
  test/data/jquery-3.7.1.js
  test/data/testinit-jsdom.js
  test/data/testinit.js
  test/index.html
  test/jquery.js
  test/karma.context.html
  test/karma.debug.html
  test/middleware-mockserver.cjs
  test/runner/browsers.js
  test/runner/browserstack/api.js
  test/runner/browserstack/buildBrowserFromString.js
  test/runner/browserstack/createAuthHeader.js
  test/runner/browserstack/local.js
  test/runner/browserstack/workers.js
  test/runner/command.js
  test/runner/createTestServer.js
  test/runner/jsdom.js
  test/runner/lib/buildTestUrl.js
  test/runner/lib/generateHash.js
  test/runner/lib/getBrowserString.js
  test/runner/lib/prettyMs.js
  test/runner/listeners.js
  test/runner/modules.js
  test/runner/queue.js
  test/runner/reporter.js
  test/runner/run.js
  test/runner/selenium/createDriver.js
  test/runner/selenium/runSelenium.js
  test/runner/server.js
  test/server.js
  test/unit/ajax.js
  test/unit/animation.js
  test/unit/event.js
  test/unit/manipulation.js
  test/unit/selector.js
  test/unit/support.js
Labels: Build, Tests

#5420 Tests: Use allowlist instead of whitelist
  test/unit/css.js
Labels: Tests
