Repository jquery/jquery, pull requests merged in 2024-01, with the labels that each got.

#5383 Selector: Eliminate `selector.js` depenencies from various modules
  src/attributes/attr.js
  src/attributes/prop.js
  src/css.js
  src/manipulation.js
  src/offset.js
Labels: Selector

#5378 Manipulation: Support $el.html(selfRemovingScript)
  src/core/DOMEval.js
  test/unit/manipulation.js
Labels: Manipulation

#5384 Selector: Make `selector.js` module depend on `attributes/attr.js`
  src/attributes/attr.js
  src/selector-native.js
  src/selector.js
  src/selector/var/booleans.js
Labels: Selector

#5398 Attributes: Shave off a couple of bytes
  src/attributes/attr.js
Labels: Needs review, Attributes
