Repository jquery/jquery, pull requests merged in 2025-02, with the labels that each got.

#5631 Build: upgrade dependencies, including jtr@0.2.5
  package-lock.json
  package.json
Labels: Build

#5632 Build: upgrade dependencies, including jtr@0.2.5 (3.x)
  package-lock.json
  package.json
Labels: Build

#5626 Event: Use `.preventDefault()` in beforeunload
  src/event.js
Labels: Event

#5630 CSS: Fix dimensions of table `<col>` elements
  src/css.js
  src/css/support.js
  test/unit/dimensions.js
  test/unit/event.js
  test/unit/support.js
Labels: CSS, Needs review

#5634 CSS: Fix dimensions of table `<col>` elements
  src/css.js
  src/css/support.js
  test/unit/dimensions.js
  test/unit/support.js
Labels: CSS

#5619 Tests: Backport the `hidden="until-found"` attr tests from 3.x-stable
  test/unit/attributes.js
Labels: Tests
