Repository jquery/jquery, pull requests merged in 2025-01, with the labels that each got.

#5604 Tests: migrate test runner to jquery-test-runner
  .github/workflows/browserstack-dispatch.yml
  .github/workflows/browserstack.yml
  .github/workflows/filestash.yml
  .github/workflows/node.js.yml
  .github/workflows/verify-release.yml
  CONTRIBUTING.md
  jtr-isolate.yml
  package-lock.json
  package.json
  test/runner/browsers.js
  test/runner/browserstack/api.js
  test/runner/browserstack/buildBrowserFromString.js
  test/runner/browserstack/createAuthHeader.js
  test/runner/browserstack/local.js
  test/runner/command.js
  test/runner/createTestServer.js
  test/runner/flags/browsers.js
  test/runner/flags/modules.js
  test/runner/jsdom/createWindow.js
  test/runner/lib/buildTestUrl.js
  test/runner/lib/generateHash.js
  test/runner/lib/getBrowserString.js
  test/runner/lib/prettyMs.js
  test/runner/listeners.js
  test/runner/queue.js
  test/runner/reporter.js
  test/runner/run.js
  test/runner/selenium/createDriver.js
  test/runner/server.js
Labels: Tests

#5606 Build: Stop testing on iOS 10
  .github/workflows/browserstack.yml
Labels: Needs review, Build, Discuss in Meeting

#5609 Tests: migrate test runner to jquery-test-runner
  .github/workflows/browserstack-dispatch.yml
  .github/workflows/browserstack.yml
  .github/workflows/filestash.yml
  .github/workflows/node.js.yml
  .github/workflows/verify-release.yml
  CONTRIBUTING.md
  eslint.config.js
  jtr-isolate.yml
  package-lock.json
  package.json
  test/runner/browsers.js
  test/runner/browserstack/api.js
  test/runner/browserstack/buildBrowserFromString.js
  test/runner/browserstack/createAuthHeader.js
  test/runner/browserstack/local.js
  test/runner/command.js
  test/runner/createTestServer.js
  test/runner/flags/browsers.js
  test/runner/flags/modules.js
  test/runner/jsdom/createWindow.js
  test/runner/lib/buildTestUrl.js
  test/runner/lib/generateHash.js
  test/runner/lib/getBrowserString.js
  test/runner/lib/prettyMs.js
  test/runner/listeners.js
  test/runner/package.json
  test/runner/queue.js
  test/runner/reporter.js
  test/runner/run.js
  test/runner/selenium/createDriver.js
  test/runner/server.js
Labels: Tests

#5607 Attributes: Support the `until-found` value for the `hidden` attribute
  src/attributes/attr.js
  test/unit/attributes.js
Labels: Needs review, Attributes, Discuss in Meeting
